<div class="ftr">
    <div class="ftr-socials">
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
    </div>
    <div class="ftr-brand">
        <div>&copy;2023 WanderLust Pvt. Ltd. </div>
    </div>
    <div class="ftr-links">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
    </div>
</div>
